body {
    margin: 0;
    background: #eee;
    color: #333;
}

.article {
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 1px rgba(128, 128, 128, .5);
    background: #fff;
}

.article h1 {
    margin: 6px 0;
    font: bold 16px "Noto Sans", sans-serif;
}

.article p {
    margin: 6px 0;
    font: normal 12px "Noto Sans", sans-serif;
}

.article a {
    color: #333;
    text-decoration: none;
}

.article a:hover {
    color: #38c;
}
