body {
    background: #eee;
    color: #333;
}

.article {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 1px rgba(128, 128, 128, .5);
    background: #fff;
}

.article h1 {
    margin: 6px 0;
    font: bold 16px "Noto Sans", sans-serif;
}

.article p {
    margin: 6px 0;
    font: normal 12px "Noto Sans", sans-serif;
}

.article a {
    color: #333;
    text-decoration: none;
}

.article a:hover {
    color: #38c;
}

#spinnerOverlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(32, 32, 32, .8);
}

#spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, .6);
    animation: rotate 1.2s infinite ease-in-out;
}

@keyframes rotate {
    0% {
        transform: perspective(300px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(300px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(300px) rotateX(-180deg) rotateY(-179.9deg);
    }
}